/* AdvertDetailsPage.css */

.container {
  margin-top: 20px;
}

.advert-details-container {
  display: flex;
}

.picture-container {
  width: 40%; /* Adjust the width as needed */
  padding-right: 20px; /* Add padding between picture and details */
}

.card-img-top {
  width: 100%;
  height: auto;
}

.advert-details {
  width: 60%; /* Adjust the width as needed */
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  margin-bottom: 15px;
}

.owner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.profile-picture-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
}

.profilePictureAdvert {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.owner-info {
  flex-grow: 1;
}

.user-name {
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
